:root {
  --blue-dark: #112c4a;
  --blue-medium: #2a6fbd;
  --blue-light: #8db6e5;
}

#monpad-grid {
  background-color: var(--blue-medium);
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  height: 30rem;
  #monpad {
    width: 100%;
    height: 100%;
  }
  #monpad-buttons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    padding: 1.5rem;
    overflow: scroll;
    > * {
      text-align: center;
      min-height: 2rem;
      padding: 0.5rem 1rem;
      background-color: var(--blue-light);
    }
    > *:hover {
      background-color: var(--blue-dark);
    }
  }
  .wrapper:has(> #monpad-layout) {
    background-color: var(--blue-light);
    overflow: scroll;
    > * {
      margin: 1rem;
    }
  }
  .wrapper:has(> #monpad-output) {
    overflow-x: scroll;
    overflow-y: hidden;
    > * {
      margin: 1rem;
    }
  }
}

body {
  margin: 3rem;
  margin-top: 2.5rem;
  font-family: Helvetica, Arial, sans-serif;
  background-color: var(--blue-dark);
  color: white;
}

iframe {
  border-width: 0;
}
button {
  all: unset;
}
pre {
  font: inherit;
  margin: 0;
}

h1,
h2 {
  color: var(--blue-light);
}
